/*For the Chat Application CSS*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f8f8;
    box-sizing: border-box;
}

.login-signup-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #4CAF50;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: #2b692e;
}

#chat-container {
    display: flex;
    align-items: stretch;
}

#user-list {
    width: 200px;
    padding: 20px;
    border-right: 1px solid #ccc;
    background-color: #fff;
}

#user-list h2,
#chat-header h2 {
    color: #333;
}

#chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#chat-content {
    flex: 1;
    margin-bottom: 10px;
    overflow-y: auto;
}

#message-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#send-button:hover {
    background-color: #2b692e;
}

#current-room {
    color: #4CAF50;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.user-typing {
    font-style: italic;
    color: #888;
}